.widgetLg {
  box-shadow: 0px 0px 15px -10px rgba(0, 0, 0, 0.75);
  flex: 2;
  padding: 20px;
  -webkit-box-shadow: 0px 0px 15px -10px rgba(0, 0, 0, 0.75);
}

.widgetLgTitle {
  font-size: 22px;
  font-weight: 600;
}

.widgetLgTable {
  border-spacing: 20px;
  width: 100%;
}

.widgetLgTh {
  text-align: left;
}

.widgetLgUser {
  align-items: center;
  display: flex;
  font-weight: 600;
}

.widgetLgImg {
  border-radius: 50%;
  height: 40px;
  margin-right: 10px;
  width: 40px;
  object-fit: cover;
}

.widgetLgDate,
.widgetLgAmount {
  font-weight: 300;
}

.widgetLgOrderId {
  font-weight: 300;
}
