.newOrder {
  flex: 4;
  margin-left: 10px;
}

.addOrderForm {
  flex-wrap: wrap;
  margin-top: 10px;
}

.addOrder {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  margin-bottom: 10px;
  width: 300px;
}

.addOrder > label {
  color: gray;
  font-weight: 600;
  margin-bottom: 10px;
  margin-left: 20px;
  margin-right: 20px;
  width: 600px;
}

.addOrder > button {
  margin-left: 10px;
  border-radius: 5px;
  background-color: lightblue;
}

.addOrderItem {
  display: flex;
  flex-direction: column;
  margin-bottom: 10px;
  width: 250px;
}

.addOrderItem > label {
  color: gray;
  font-weight: 600;
  margin-bottom: 10px;
  margin-left: 10px;
}

.addOrderItem > input {
  padding: 10px;
  margin: 10px;
}

.addOrderItem > select {
  padding: 10px;
}

.addOrderButton {
  background-color: darkblue;
  border: none;
  border-radius: 10px;
  color: white;
  cursor: pointer;
  font-weight: 600;
  margin-top: 10px;
  padding: 7px 10px;
}
