.productList {
  flex: 4;
}

.productListItem {
  align-items: center;
  display: flex;
}

.productListImg {
  border-radius: 50%;
  height: 32px;
  margin-right: 10px;
  object-fit: cover;
  width: 32px;
}

.productListEdit {
  background-color: #3bb077;
  border: none;
  border-radius: 10px;
  color: white;
  cursor: pointer;
  margin-right: 20px;
  padding: 5px 10px;
}

.productListDelete {
  color: red;
  cursor: pointer;
}
.topButtons {
  align-items: center;
  display: flex;
  justify-content: space-between;
}
.productAddButton {
  background-color: teal;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  color: white;
  font-size: 16px;
  margin-bottom: 20px;
  margin-top: 10px;
  padding: 5px;
  width: 100px;
}
.productSearchButton {
  background-color: teal;
  border: none;
  border-radius: 5px;
  color: white;
  cursor: pointer;
  font-size: 16px;
  width: 200px;
  margin-bottom: 20px;
  margin-left: 20px;
  margin-top: 10px;
  padding: 5px;
}
