.newUser {
  flex: 4;
  margin-left: 10px;
}

.newUserForm {
  display: flex;
  flex-wrap: wrap;
}

.newUserItem {
  display: flex;
  flex-direction: column;
  margin-bottom: 10px;
  margin-top: 10px;
  margin-right: 30px;
  width: 400px;
}

.newUserItem > label {
  color: rgb(151, 150, 150);
  font-size: 14px;
  font-weight: 600;
  margin-bottom: 10px;
}

.newUserItem > input {
  border: 1px solid gray;
  border-radius: 5px;
  height: 20px;
  padding: 10px;
}

.newUserRole > input {
  margin-top: 15px;
}

.newUserRole > label {
  color: #555;
  font-size: 18px;
  margin: 10px;
}

.newUserSelect {
  border-radius: 5px;
  height: 40px;
}

.newUserButton {
  background-color: darkblue;
  border: none;
  border-radius: 10px;
  color: white;
  cursor: pointer;
  font-size: 17px;
  font-weight: 600;
  margin-top: 20px;
  padding: 7px 10px;
  width: 180px;
}
